
//Colors
$black-color:#212121;

$white-color: #ffffff;
$white-cloud-color: #FAFAFA;
$white-dark-color: #EEEEEE;

$orange-color : #FFA000;

$primary-color: #2104E9; 
$primary-dark-color: #4309D2; 

$blue-color: #0000FF;
$blue-purple-color: #640DBC;

$purple-color: #8511A6;
$purple-pink-color: #A61590;

$pink-color: #E91E63;
$pink-dark-color: #C81A79;



